.rajdhani-regular {
    font-family: "Rajdhani", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .rajdhani-medium {
    font-family: "Rajdhani", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  body{
    background-color: #000000;
    color: white;
    font-family: 'space-Grotesk';
    font-weight: 300;
  }
  
*{
    margin: 0;
    padding: 0;
}
h1{
    font-family: rajdhani;
    font-size: 35px;
    font-weight: bold;
}
button{
    font-family: rajdhani;
    font-size: 28px;
    font-weight: 400;
}
nav{
    width: 80%;
    margin: 0 auto;

}
body{
    background-color: #000000;
    color: white;
    font-family: 'space-grotesk';
    font-weight: 200;   
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 25px;
}
ul{
  list-style: none; 
}
ul a{
    color: white;
    font-size: 20px;
    font-weight: 100;
    font-family: rajdhani;
}
ul a:hover{
    color: lightblue;
    cursor: pointer;

}
.imagez{
    display:flex;
    column-gap: 20px;
    justify-content: space-between; /* Center the images horizontally */
    align-items: center; /* Center the images vertically if needed */
    margin: 100px;
}
.background{
    background-image: url('/Assets/Illustrations/Bathome1.png');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
nav ul a{
    color: white;
    font-size: 30px;
    font-weight: 500;
    font-family: 'rajdhani';
}
nav ul a:hover{
    color: yellow;
}

#hero{background-image: url('/Assets/Illustrations/Bathome1.png');
    background-size: cover;
    height: 800px;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: #19587d;
   
}
.batman-personnage{
    display: flex;
    justify-content: space-between;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding-top: 250px;
}
#hero.titre{
   margin: 20px;
}
.btn{
    text-decoration: none;
    font-size: 12px;
    color: var(--white-color);
    padding: 3px 20px;
    background: linear-gradient(
        80deg,var(--gradient-white),var(--gradient-red));
    padding: 10px 20px; 
    box-shadow: black;  
}
:root {
    --yellow-color: #ffff00;
    --yellow-light: #f8f184;
    --blue-color: #19587d;
    --white-color: #fff;
    --gradient-white: #eddebf;
    --gradient-red: #890008;
    --gradient-blue: #19587d;

}