nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 80px;
    margin: 0 auto;
    padding: 20px;  
  }
  
  nav ul {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
  }
  
  nav ul li a {
    color: white;
    text-decoration: underline;
  }

  .background{
    background-color: black;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.content{
  display: flex;
 text-align: center;
 width: 80%;
 margin: auto;
 margin-top: 100px;
 flex-direction: column;
}
.btn {
  display: inline-block;
  background: linear-gradient(45deg, #f3ec78, #af4261);
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 0px;
  font-size: 16px;
  margin: 5px;
}

.btn:hover {
  background-color: darkblue;
}
  
  